.dropdown-container {
    position: relative
}
.dropdown-title {
    display: flex;
    align-items: center;
    gap: 0.313rem;
    width: fit-content;
}

.dropdown-title:hover, .dropdown-title:hover > p {
    cursor: pointer;
    color: black;
}

.dropdown-content {
    position: absolute;
    top: 1.875rem;
    right: 0;
    z-index: 2;
    padding: 1.25rem;
    border-radius: 0.313rem;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.2), -0.125rem -0.125rem 0.625rem rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.dropdown-content.company {
    left: 0;
    width: fit-content;
}

.element {
    display: flex;
    align-items: center;
    gap: 0.313rem;
}

@media screen and (max-width: 500px) {
    .dropdown-content {
        position: relative;
        top: 0;
        background-color: transparent;
        box-shadow: none
    }
}